{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block main_contain %}
  
<div class="containe">
    <div class="row">
       
          <div class="col-md-3"></div>
          <div class="col-md-6 mt-4">

            <form action="" method="GET">
                {{q.form}}
               <input type="submit" class="btn btn-primary" value="seacrh">
              
                
              </form>
          </div>
          <div class="col-md-3"></div>
        
        
        
    </div>
</div>
<br> 
<hr>
<br>
<div class="container">
    <div class="row">
    
           {% for i in page_obj %}
           <div class="col-md-6 main text-center">
            <div class="card-container  ">
                <!-- <span class="pro">PRO</span> -->
                <img class="round p_img" src="{{i.profile_pic.url}}" alt="user" />
                <h3>{{i.name}}</h3> 
                <h6><i class="fa-solid fa-location-dot h-4 fill-current text-info pr-2"></i>  {{i.address}}</h6>
                <p>{{i.bio}}</p>
                <p> <b>Skill: </b> {{i.skill}}</p>
                <p>  <b>More skill:</b>{{i.add_more_skill}} </p>
                <div class="buttons">
                    
                    <a href="{% url 'detailprofile' i.id %}" class="btn btn-primary text-white">Details</a>   
                    
                    
                    <a href="" class="btn btn-warning text-white">Chat</a>  
                    
                </div>
              
            </div>
        </div>
        
        {% endfor %}



        <nav aria-label="..." > 
         <ul class="pagination">
            
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
           {% else %}
             <a>Previous</a>
           {% endif %}
           
           {% for i in page_obj.paginator.page_range %}
             {% if page_obj.number == i %}
               <li class="page-item" ><a class="page-link" href="#">{{ i }} </a></li>
             {% else %}
               <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
             {% endif %}
           {% endfor %}
           
           {% if page_obj.has_next %}
             <li class="page-item" ><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
           {% else %}
             <a>Next</a>
           {% endif %}

         </ul>
        </nav>


    </div>
</div>


{% endblock main_contain %}

<!-- {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}">« Previous page</a>

  {% if page_obj.number > 3 %}
    <a href="?page=1">1</a>
    {% if page_obj.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ page_obj.next_page_number }}">Next Page »</a>
{% endif %} -->