{% extends "base.html" %}

{% block main_contain %}
<div class="container">
    <div class="row">
        <h1 class="text-center">Your Result Here</h1>
    <hr>

        {% for p in results %}
    
        <div class="col-md-4">
            <div class="card-container">
                <!-- <span class="pro">PRO</span> -->
                <img class="round p_img" src="{{p.profile_pic.url}}" alt="user" />
                <h3>{{p.name}}</h3> 
                <h6><i class="fa-solid fa-location-dot h-4 fill-current text-info pr-2"></i> {{p.address}}</h6>
                <p>{{p.bio}}</p>
                <p> <b>Skill: </b> {{p.skill}}</p>
                <p>  <b>More skill:</b>{{p.add_more_skill}} </p>

                <div class="buttons">
                    
                    <a href="{% url 'detailprofile' p.id %}" class="btn btn-primary text-white">Details</a>   
                    
                    
                    <a href="" class="btn btn-warning text-white">Chat</a>  
                    
                </div>
              
    
                       
            </div>
        </div>
        
    
    

{% endfor %}
    </div>
    
    
</div>
{% endblock main_contain %}