{% extends "base.html" %}


{% block main_contain %}
<div class="container my-5">
    <div class="row">

     
       {% for i in form %}
		 
	   
     
     <div class="col-sm-5 text-center align-self-center detailsimg">
      <img src="{{i.profile_pic.url}}" alt="" class="img-fluid img-thumbnail">
     </div>
     <div class="col-sm-6 offset-sm-1 content">
      <h2 class="text-primary">{{i.name}}</h2>
      <hr class="text-primary">
    <p > <i class="fa-solid fa-briefcase text-primary"></i> {{i.bio}}</p> 
    <p> <i class="fa-solid fa-phone text-primary"></i> {{i.phone}}</p> 
    <p> <i class="fa-regular fa-envelope text-primary"></i>  {{i.email}}</p> 
    <p><i class="fa-solid fa-person-chalkboard text-primary"></i> {{i.clases}} </p> 
    <p> <b class="text-primary">Interest More Class :</b> {{i.add_more_clases}}</p> 
    <p><i class="fa-solid fa-book text-primary"></i> {{i.subjects}}</p> 
    <p> <b class="text-primary">Interest More Subjects:</b> {{i.add_more_subject}}</p> 
    <p><i class="fa-solid fa-location-dot text-primary"></i> {{i.address}}</p>
    <p> {{i.description}}</p> 
    <div class="">
         <a href="{% url 'tutoreditprofile' %}" class="btn btn-primary bt"> update Your profile</a>
    </div>
     </div>
     {% endfor %}


    </div>
   </div>
{% endblock main_contain %}