{% extends "base.html" %}


{% block main_contain %}
<div class="container my-5">
    <div class="row">

     
       
		 
	   
     
     <div class="col-sm-5 text-center align-self-center detailsimg">
      <img src="{{i.profile_pic.url}}" alt="" class="img-fluid img-thumbnail">
     </div>
     <div class="col-sm-6 offset-sm-1 content">
      <h2 class="text-primary">{{i.name}}</h2>
      <hr class="text-primary">
    <p > <i class="fa-solid fa-briefcase text-primary"></i> {{i.bio}}</p> 
    <p> <i class="fa-solid fa-phone text-primary"></i> {{i.phone}}</p> 
    <p> <i class="fa-regular fa-envelope text-primary"></i>  {{i.email}}</p> 
    <p><i class="fa-solid fa-person-chalkboard text-primary"></i> {{i.clases}} </p> 
    <p> <b class="text-primary">Interest More Class :</b> {{i.add_more_clases}}</p> 
    <p><i class="fa-solid fa-book text-primary"></i> {{i.subjects}}</p> 
    <p> <b class="text-primary">Interest More Subjects:</b> {{i.add_more_subject}}</p> 
    <p><i class="fa-solid fa-location-dot text-primary"></i> {{i.address}}</p>
    <p> {{i.description}}</p> 
    <div class="">
         <a href="" class="btn btn-primary bt"> Chat</a>
    </div>
     </div>
     </div>
   </div>
<hr>

<div class="container">
	<div class="row">
		<h3>Write Your Review Here</h3>
		<div class="col-sm-6">
    <form action="/reviews" method="GET" class="shadow p-5">
       {% csrf_token %}
       
       <input type="hidden" name="r" id="r" value="{{i.id}}">
       
        
       

      <label for="">Rating </label> <br>
		  <div class="rate">
			<input type="radio" name="rating" id="rating10" value="5" required>   <label for="rating10" title="5"></label>
			<input type="radio" name="rating" id="rating9" value="4.5" required > <label for="rating9" title="4.5" class="half"></label>
			<input type="radio" name="rating" id="rating8" value="4" required >   <label for="rating8" title="4"></label>
			<input type="radio" name="rating" id="rating7" value="3.5" required > <label for="rating7" title="3.5" class="half"></label>
			<input type="radio" name="rating" id="rating6" value="3" required >   <label for="rating6" title="3"></label>
			<input type="radio" name="rating" id="rating5" value="2.5" required > <label for="rating5" title="2.5" class="half"></label>
			<input type="radio" name="rating" id="rating4" value="2" required >   <label for="rating4" title="2"></label>
			<input type="radio" name="rating" id="rating3" value="1.5" required > <label for="rating3" title="1.5" class="half"></label>
			<input type="radio" name="rating" id="rating2" value="1" required >   <label for="rating2" title="1"></label>
			<input type="radio" name="rating" id="rating1" value="0.5" required > <label for="rating1" title="0.5"class="half"></label> 
			 </div>
			<br><br>
			Write a comment <br>
			<textarea name="texts" rows="5" cols="10" class="form-control"></textarea> <br>
			<input type="submit" class="btn btn-primary block" value="Post"><br>
			
			
		  </form>
		</div>

   <div class="col-sm-6">
    <div class="container">
      <div class="row">
    {% for i in reviews  %}
      <div class="col-sm-12 ">
        <div class="review">
          <a href=""><i class="fa-solid fa-user"></i> {{i.user.username}} </a> 
          <i class="fa-solid fa-star {% if i.rating >= 5 %} checkd {% endif %} " style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 4.5 %} checkd {% endif %} half"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 4 %} checkd {% endif %}"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 3.5 %} checkd {% endif %}half"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 3 %} checkd {% endif %}"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 2.5 %} checkd {% endif %} half"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 2 %} checkd {% endif %}"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 1.5 %} checkd {% endif %} half"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= 1 %} checkd {% endif %}"style="float:right"></i>
          <i class="fa-solid fa-star {% if i.rating >= .5 %} checkd {% endif %} half"style="float:right"></i>
        
          <p>{{i.review}}</p>
        </div>
      </div>
    {% endfor %}
      </div>
    </div>
   </div>


	</div>
</div>
{% endblock main_contain %}