@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}
.main{
	margin-top: 20px;
	
}
.card-container {
	margin-left: 55px;
	
	border-radius: 5px;
	background-color: #ddd;
	box-shadow: 0 0 5px;
	margin-bottom: 10px;
	color: #0c0c0c;
	padding: 15px;
	
	width: 350px;
	height: 400px;
	max-width: 100%;
	text-align: center;
	

	
}



.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}




/* profile img css */

.p_img{
	width: 120px;
	height: 120px;
}